.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  padding: 30px;
}

.title {
  margin: 0;
}

.subtitle {
  text-align: center;
  height: 15px;
  font-size: 15px;
  animation: fadeIn 5s;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown {
  margin: 20px;
}

.timeSelectContainer {
  margin-top: 30px;
}

.clockIcon {
  margin-right: 8px;
}

.buttonTimeSelect {
  margin: 0 8px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
